MONGO_URI=your_mongodb_connection_string_here
ORACLE_ADDRESS=your_oracle_wallet_public_address_here
ORACLE_PRIVATE_KEY=your_oracle_wallets_private_key_here
SEPOLIA_RPC_URL=your_alchemy_or_infura_sepolia_url_here
DISPUTE_CONTRACT_ADDRESS=0xbA0294c11254A1A42981D6331a04EcCfeF842264